logs
dist
dist-ssr
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
!.vscode/extensions.json
.vscode/*
.DS_Store
.idea
*.njsproj
*.local
*.log
*.suo
*.sln
*.sw?
*.ntvs*